Performing T Test to find the significant difference between the means of two groups which may be related

###One Sample T Test

It checks whether mean of sample and population are different

Example 1

In [3]:
import numpy as np
from scipy.stats import ttest_1samp

In [4]:
ages=[10,20,35,50,60,30,26,28,95,29,57,36,55,23,43,54,67,45,43,65,34,23,25,32]

In [5]:
ages_mean=np.mean(ages)

In [7]:
ages_mean

41.041666666666664

In [10]:
sample_size=10

In [11]:
ages_sample=np.random.choice(ages,sample_size)

In [12]:
ages_sample

array([50, 60, 28, 60, 29, 67, 57, 35, 55, 30])

In [14]:
ttest,p_value=ttest_1samp(ages_sample,ages_mean)

In [15]:
print(p_value)

0.23390686520060394

In [17]:
if p_value < 0.05:
  print("H0 Rejected")
else:
  print("H0 Accepted")

H0 Accepted

Example 2

In [18]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [19]:
np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [21]:
school_ages.mean()

53.303333333333335

In [22]:
classA_ages.mean()

46.9

In [28]:
ttext,p_value=stats.ttest_1samp(a=classA_ages,popmean=school_ages.mean())

In [29]:
p_value

1.139027071016194e-13

In [30]:
if p_value < 0.05:
  print("H0 Rejected")
else:
  print("H0 Accepted")

H0 Rejected

###Two Sample T Test

Also known as independent T Test, it checks the difference between the means of 2 independent groups

In [26]:
np.random.seed(12)

In [27]:
classB_ages=stats.poisson.rvs(loc=18,mu=35,size=60)
classB_ages.mean()

52.71666666666667

In [31]:
ttest,p_value=stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False)

In [32]:
p_value

1.3199439213884146e-07

In [33]:
if p_value < 0.05:
  print("H0 Rejected")
else:
  print("H0 Accepted")

H0 Rejected

###Paired T Test

It checks the difference in means of 2 different samples of the same group

In [34]:
weight1=[20,30,40,34,23,54,33,65,34,65,23,12]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=12)

In [35]:
print(weight1)
print(weight2)

[20, 30, 40, 34, 23, 54, 33, 65, 34, 65, 23, 12]
[11.86201983 33.57873174 32.3299827  26.3771395  29.36420881 60.05941216
 31.93827982 62.519014   29.42851213 65.50667769 19.32984284  3.1845637 ]

In [39]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),"weight_20":np.array(weight2),"weight_change":np.array(weight2)-np.array(weight1)})

In [40]:
weight_df

    weight_10  weight_20  weight_change
0          20  11.862020      -8.137980
1          30  33.578732       3.578732
2          40  32.329983      -7.670017
3          34  26.377139      -7.622861
4          23  29.364209       6.364209
5          54  60.059412       6.059412
6          33  31.938280      -1.061720
7          65  62.519014      -2.480986
8          34  29.428512      -4.571488
9          65  65.506678       0.506678
10         23  19.329843      -3.670157
11         12   3.184564      -8.815436

In [41]:
ttest,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [42]:
p_value

0.17463938596698594

In [43]:
if p_value < 0.05:
  print("H0 Rejected")
else:
  print("H0 Accepted")

H0 Accepted